* {
    margin: 0;
    padding: 0;
}

.caixa {
    padding: 25px;
    /*ESPAÇAMENTO INTERNO*/
}

.logo {
    width: 130px;
    /* Largura*/
}

.link-empresa {
    color: #000000;
    margin-left: 30px;
    /*MARGEM DO LADO ESQUERDO*/
    font-size: 20px;
    /*TAMANHO DA FONTE*/
    cursor: pointer;
    /*TROCA O CURSOR DO MOUSE POR UMA MÃOZINHA*/
}

.link-empresa:hover {
    text-decoration: underline;
    /*TRACEJADO EMBAIXO DA ESCRITA*/
}

.link-voce {
    color: #ff0000;
    margin-left: 30px;
    /*MARGEM DO LADO ESQUERDO*/
    font-size: 20px;
    /*TAMANHO DA FONTE*/
    font-weight: bold;
    /*GROSSURA DA FONTE SÓ NÚMEROSA OOU NOMES */
    cursor: pointer;
    /*TROCA O CURSOR DO MOUSE POR UMA MÃOZINHA*/

}

.link-voce:hover {
    text-decoration: underline;
    /*TRACEJADO EMBAIXO DA ESCRITA*/
}

.background {
    background-size: cover;
}

h3 {
    margin-left: 200px;
    /*MARGEM DO LADO ESQUERDO*/
    margin-top: 60px;
    /*MARGEM EM CIMA*/
    font-size: 40px;
    
}

UL {
    display: flex;/*DISPLAY FLEX DA UM AJUSTE E MAIS PROPRIEDADES*/
    justify-content: center;
    gap: 30px;/*ELE FAZ UM ESPAÇAMENTO ENTRE OS ITENS*/
    margin-top: 50px;/*MARGEM EM CIMA*/
}

li {
    height: 150px;
    /*ALTURA DO ELEMENTO*/
    width: 190px;
    /*LARGURA DO ELEMENTO*/
    box-shadow: rgb(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top: 30px;
    /*ESPAÇAMENTO INTERNO DE CIMA*/
    display: inline-block;
}

.imagem-produtos {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*COLOCA A IMAGEM NO CENTRO APÓS AS MARGINS LEFT E RIGHT EM AUTO*/
    
}

p {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}